<section class="disclaimer bg-light border">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 py-2">
        <small>
          Cái này là cái description của footer
        </small>
      </div>
    </div>
  </div>
</section>
<section class="copyright border">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 pt-3">
        <p class="text-muted">© 2018 xyz Software Pvt. Ltd.</p>
      </div>
    </div>
  </div>
</section>
