<div class="topMainPage">
  <div class="overlay"></div>
</div>
<div class="topNav bg-light" style="z-index: 3;position: relative;">
  <nav class="container navbar navbar-expand-lg bg-light navbar-light">
    <%= link_to "Logo truyện", root_url, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Thể loại
          </a>
          <div class="dropdown-menu mega-dropdown-category" aria-labelledby="navbarDropdown">
            <div class="row">
              <% @categories.each do |category| %>
                <div class="col-md-4 d-flex flex-column dropdown-distance">
                  <a><%= category.name %></a>
                </div>
              <% end %>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Trạng thái
          </a>
          <div class="dropdown-menu mega-dropdown-status" aria-labelledby="navbarDropdown">
            <div class="d-flex flex-column dropdown-distance">
              <a>Đã Hoàn Thành</a>
              <a>Đang Tiến Hành</a>
              <a>Bị Bỏ Dở</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0 custome-navbar-search">
        <input class="form-control mr-sm-2 w-100 border-search" type="search" placeholder="Search"
          aria-label="Search">
        <svg width="16" height="16" fill="currentColor" class="bi bi-search search-icon" viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </div>
      <div class="ml-lg-2 btnLogin">Đăng ký</div>
      <div class="ml-lg-2 btnLogin">Đăng nhập</div>
    </div>
  </nav>
</div>
