<div class="topMainPage">
  <div class="overlay "></div>
</div>
<div class="topNav  bg-light" style="z-index: 3;position: relative;">
  <nav class="container navbar navbar-expand-lg bg-light navbar-light">
    <a class="navbar-brand" href="#">Logo truyện</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Năm Phát Hành
          </a>
          <div class="dropdown-menu mega-dropdown-release" aria-labelledby="navbarDropdown">
            <div class="d-flex flex-column dropdown-distance">
              <a>Truyện 2010</a>
              <a>Truyện 2011</a>
              <a>Truyện 2012</a>
              <a>Truyện 2013</a>
              <a>Truyện 2014</a>
              <a>Truyện 2015</a>
              <a>Truyện 2016</a>
              <a>Truyện 2017</a>
              <a>Truyện 2018</a>
              <a>Truyện 2019</a>
              <a>Truyện 2020</a>
              <a>Truyện 2021</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Thể loại
          </a>
          <div class="dropdown-menu mega-dropdown-category" aria-labelledby="navbarDropdown">
            <div class="row">
              <div class="col-md-4 d-flex flex-column dropdown-distance">
                <a>Tiên Hiệp</a>
                <a>Kiếm Hiệp</a>
                <a>Ngôn Tình</a>
                <a>Đô Thị</a>
                <a>Quan Trường</a>
                <a>Võng Du</a>
                <a>Khoa Huyễn</a>
                <a>Hệ Thống</a>
                <a>Huyền Huyễn</a>
                <a>Dị Giới</a>
                <a>Dị Năng</a>
                <a>Quân Sự</a>
                <a>Lịch Sử</a>
              </div>
              <div class="col-md-4 d-flex flex-column dropdown-distance">
                <a>Xuyên Không</a>
                <a>Xuyên Nhanh</a>
                <a>Trọng Sinh</a>
                <a>Trinh Thám</a>
                <a>Thám Hiểm</a>
                <a>Linh Dị</a>
                <a>Sắc</a>
                <a>Ngược</a>
                <a>Sủng</a>
                <a>Cung Đấu</a>
                <a>Nữ Cường</a>
                <a>Gia Đấu</a>
                <a>Đông Phương</a>
              </div>
              <div class="col-md-4 d-flex flex-column dropdown-distance">
                <a>Đam Mỹ</a>
                <a>Bách Hợp</a>
                <a>Hài Ước</a>
                <a>Điền Văn</a>
                <a>Cổ Đại</a>
                <a>Mạt Thế</a>
                <a>Truyện Teen</a>
                <a>Phương Tây</a>
                <a>Nữ Phụ</a>
                <a>Light Novel</a>
                <a>Việt Nam</a>
                <a>Đoản Văn</a>
                <a>Khác</a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Trạng thái
          </a>
          <div class="dropdown-menu mega-dropdown-status" aria-labelledby="navbarDropdown">
            <div class="d-flex flex-column dropdown-distance">
              <a>Đã Hoàn Thành</a>
              <a>Đang Tiến Hành</a>
              <a>Bị Bỏ Dở</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0 custome-navbar-search">
        <input class="form-control mr-sm-2 w-100 border-search" type="search" placeholder="Search"
          aria-label="Search">
        <svg width="16" height="16" fill="currentColor" class="bi bi-search search-icon" viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </div>
      <div class="ml-lg-2 btnLogin">Đăng ký</div>
      <div class="ml-lg-2 btnLogin">Đăng nhập</div>
    </div>
  </nav>
</div>
