<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="../main.html">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
      <a href="../truyen/truyenvd.html">Truyện a</a>
    </li>
    <li class="breadcrumb-item active">Chapter</li>
  </ul>
</div>
<!-- This is Content -->
<div class="nav justify-content-center">
  <h2>Chương 2</h2>
</div>
<br>
<br>
<div class="nav justify-content-center">
  <div>
    <div class="btn-group">
      <a href="Chapter_1.html" title="Chương 1">
        <button type="button" class="btn btn-primary">
          <svg width="20" height="24" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
          </svg>
        </button>
      </a>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
        <svg width="16" height="16" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
          <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
        </svg> Chapter </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="Chapter_1.html">Chapter 1</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 2</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 3</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 4</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 5</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 6</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 7</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 8</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 9</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 10</a>
      </div>
    </div>
    <div class="btn-group">
      <a href="Chapter_2.html" title="Chương 3">
        <button type="button" class="btn btn-primary glyphicon glyphicon-chevron-right">
          <svg width="20" height="24" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>
<!--Noi Dung-->
<br>
<div id="chapter-info">
  <div class="container">
    <br>
    <div class="chapter-text">
      <p>Nửa đêm, Lương Hạnh dường như đã chìm vào trong giấc mơ, nhưng sau đó...</p>
      <p>Cô mở đôi mắt nặng trĩu, nhất thời sững lại.</p>
      <p>Thì ra ngay lúc này, người đàn ông cả tuần mới về một lần kia đang đứng bên cạnh cô, ánh đèn vàng ấm áp nơi đầu giường rọi lên người anh, soi tỏ làn da nửa thân trên cùng cánh tay thon dài, nhìn qua thật là đẹp.</p>
      <p>Lương Hạnh sững sờ.</p>
      <p>Hôm nay mới là thứ bảy mà nhỉ, sao anh ta đã về rồi?</p>
      <p>Sáng hôm sau, Lương Hạnh bị tiếng còi xe dưới nhà làm cho tỉnh giấc.</p>
      <p>Cô ôm chăn ngồi dậy, ngây người mất hồi lâu, đến khi nghe thấy tiếng động từ dưới bếp, cô mới vội vội vàng vàng lao ra khỏi phòng, rồi nhìn thấy một bóng lưng cao gầy đang lúi húi trong bếp.</p>
      <p>Người đàn ông ấy mặc bộ đồ ở nhà, eo săn chắc, cặp chân dài, nhìn tổng thể dáng người hơi gầy.</p>
      <p>Triệu Mịch Thanh làm xong bữa sáng, vừa bước ra khỏi nhà bếp thì thấy Lương Hạnh mặc đồ ngủ đứng đó từ bao giờ, anh khẽ cau mày: “Đi thay đồ đi.”</p>
      <p>“À, ừm.” Lương Hạnh cúi đầu nhìn bộ váy ngủ lụa tơ tằm trên người, lập tức xấu hổ đỏ mặt, vội vã chạy về phòng.</p>
      <p>Cô đánh răng rửa mặt xong xuôi thì Triệu Mịch Thanh đã đang ngồi bàn ăn sáng trước rồi. Lương Hạnh bèn ngồi xuống đối diện anh.</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="nav justify-content-center">
  <div>
    <div class="btn-group">
      <a href="Chapter_1.html" title="Chương 1">
        <button type="button" class="btn btn-primary">
          <svg width="20" height="24" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
          </svg>
        </button>
      </a>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown">
        <svg width="16" height="16" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
          <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
        </svg> Chapter </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="Chapter_1.html">Chapter 1</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 2</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 3</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 4</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 5</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 6</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 7</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 8</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 9</a>
        <a class="dropdown-item" href="Chapter_2.html">Chapter 10</a>
      </div>
    </div>
    <div class="btn-group">
      <a href="Chapter_2.html" title="Chương 3">
        <button type="button" class="btn btn-primary glyphicon glyphicon-chevron-right">
          <svg width="20" height="24" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>
<!--Comment-->
<br>
<br>
<hr>
<div class="container">
  <div class="col-12 ">
    <h3>Bình Luận</h3>
    <div class="media border p-3">
      <div class="media-body">
        <div style="background-color: #dff0d8;padding: 15px 20px;" class="following-story__info"> Bạn phải đăng nhập để thực hiện chức năng này </div>
        <div class="media p-3">
          <%= image_tag("imageMainPage/cat.jpg", alt: "John Doe", class: "mr-3 mt-3 rounded-circle", style: "width:45px;")  %>
          <div class="media-body">
            <h4>Jane Doe <small>
                <i>Posted on September 2 2021</i>
              </small>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="media p-3">
          <%= image_tag("imageMainPage/Facebook-Avatar_3.png", alt: "John Doe", class: "mr-3 mt-3 rounded-circle", style: "width:45px;")  %>
          <div class="media-body">
            <h4>Jack cheap <small>
                <i>Posted on September 9 2021</i>
              </small>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
