<div class="col-xl-3 col-lg-4 col-md-4 col-6 p-0 image-box">
  <a href="./truyen/truyenvd.html"><%= image_tag("imageMainPage/onePiece-img2.jpg", class: "updated-story-image", alt: "")  %> </a>
  <div class="image-content">
    <p><%= story.name %></p>
  </div>
</div>
